---
BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignArrayOfStructures: Left
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: None
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
ColumnLimit:     120
Cpp11BracedListStyle: false
IncludeBlocks:   Preserve
IndentPPDirectives: BeforeHash
IndentWidth:     4
IndentWrappedFunctionNames: true
InsertNewlineAtEOF: true
PackConstructorInitializers: Never
PointerAlignment: Left
SeparateDefinitionBlocks: Always
SortIncludes: false
SpaceAfterTemplateKeyword: false
TabWidth: 4
UseTab: Never
